<div class="aula">
    <h3>
        <li *ngFor="let animal of animals">
            Tipo: {{ animal.tipo }} Nome: <a routerLink="/list/{{animal.id}}">{{ animal.nome }}</a> 
            <button (click)="showIdade(animal)"> Mostrar idade</button>
            <button (click)="removeAnimal(animal)"> Excluir animal</button>
        </li>
    </h3>
    <h1>{{animalDetalhe}}</h1>

    <h3>
        <li *ngFor="let pessoa of pessoas">
            Nome: {{pessoa.nome}} Idade: {{pessoa.idade}}
        </li>
    </h3>
</div>